.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input:focus, textarea:focus {
  outline: none;
  display: inline;
}


.text-input {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color:  var(--panel-background);
    width: 20em;
    border-radius: 5em;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid white;
}

.text-input input {
    width: 100%;
    min-width: 5em;
    height: 2em;
    font-family: cfont, Arial, sans-serif;
    border: none;
    background: none;
    color: var(--text);
}

.error {
  color: #ff0000;
}

.success {
  color: #00ff00;
}
