main {
  color: white;
  background-color: black;
  min-height: 60em;
}

a {
  text-decoration: none;
  color: white;
}

div {
  margin: 1em;
}

#root {
  margin: 0;
}

nav {
  background-color: black;
  display: flex;
  padding: 0;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 5em;
}

nav .content {
  display: flex;
  gap: 1em;
  padding: 0;
}

.navlink {
  height: 2em;
  width: min-content;
  white-space: nowrap; 
  padding: 0.2em 1em;
  border-radius: 5em;
  border: 1px solid white;
  text-align: center;
  line-height: 2em;
  margin: auto 0;
}

.navlink-img {
  border: 0;
  padding: 0;
}

.navlink-img img {
  height: 3em;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.error {
  color: #ff0000;
}

.success {
  color: #00ff00;
}